<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p>Le lien arrive bientôt</p>
    <a href="/gossips/new/"> Faire un gossip </a>
    <% gossips.each do |gossip| %>
      <p>
        Gossip author : <%= gossip.author %><br/>
        Gossip content : <%= gossip.content %>
      </p>
    <% end %>
    </body>
</html>