<html>
  <head>
    <title>The Gossip chosen</title>
  </head>
  <body>
    <h1>Gossip number <%= params[:id] %> </h1>

    <p> the author : </br> <%= gossip.author %> </p>
    <p> the content : </br> <%= gossip.content %> </p>

    </body>
</html>